@import "./variabili.scss";

@mixin container {
    max-width: 1200px;
    margin: 0 auto;
}

@mixin albumCard {
    padding: 20px;
    background-color: $colorsec;
    text-align: center;
}

@mixin albumCardTitle {
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}

@mixin albumImg {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

@mixin albumInfo {
    font-size: 14px;
    color: $colorText;
    font-weight: 500;
}

@mixin selectGenere {
    padding: 8px 10px;
    width: 200px;
    border: 2px solid $colorText;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
}